<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<h1>All products</h1>
<table border="1">

    <tr>
        <td>Id</td>
        <p th:each="product : ${products}">
        <td th:text="${product.id}">Id</td>
        </p>
    </tr>
    <tr>
        <td>Title</td>
        <p th:each="product : ${products}">
        <td th:text="${product.title}">Title</td>
        </p>
    </tr>
    <tr>
        <td>Price</td>
        <p th:each="product : ${products}">
        <td th:text="${product.price}">10.22</td>
        </p>
    </tr>

</table>

</body>
</html>